/* desktop first */
/* xây dựng ở màn lớn trước, chỉnh sửa bố cục web cho các màn hình nhở hơn */

/* type: screen, speech, printn, all */

/* @media screen and (max-width:)  */


h1{
	background-color: red;
}

@media screen and (max-width: 1200px){
	/* width < = 1200px */
	h1{
		background-color: yellow;
	}
}

@media screen and (max-width:900px){
	h1{
		background-color: green;
	}
}

/* mobile first */

h2{
	background: pink;
}

/* màn hình nhỏ trước màn hình lớn sau */
@media screen and (min-width:768px){
	/* Vùng ảnh hưởng lớn hơn 768px */
	h2{
		background-color: violet;
	}
}

@media screen and (min-width:1200px){
	/* Vùng ảnh hưởng lớn hơn 1200 px */
	h2{
		background-color: gold;
	}
}

@media screen and (min-width:900px) and (max-width:1000px){
	h2{
		background-color: red;
	}
}